<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 导入 vue 文件    注意路径不一定每一次都一样 -->
    <script src="../../js/vue.js"></script>
  </head>

  <body>
    <!-- 被 vm 实例所控制的区域 -->
    <div id="app">
        姓： <input type="text" v-model="firstname"><br><br>
        名： <input type="text" v-model="lastname"><br><br>
        全名：<span>{{fullname()}}</span>
    </div>

    <script>
        Vue.config.productionTip=false;
      //创建 vm 实例对象
      const vm = new Vue({
        //指定控制的区域
        el:'#app',
        data:{
            firstname:'拐',
            lastname:'子'
        },
        methods: {
            fullname(){
                return this.firstname+' '+this.lastname;
            }
        }
       });
    </script>
  </body>
</html>