<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 导入 vue 文件    注意路径不一定每一次都一样 -->
    <script src="../../js/vue.js"></script>
  </head>
<!-- 
    计算属性:
1.定义: 要用的属性不存在，要通过已有属性计算得来。
2.原理:底层借助了objcet.defineproperty方法提供的getter和setter.
3.get函数数什么时候执行?
(1).初次读取时会执行次。
(2).当依赖的数据发生改变时会被再次调用。
4.优势:与methods实现相比，内部有缓存机制(复用)，效率更高。调试方便。
5.备注:
1.计算属性最终会出现在vm上，直接读取使用即可。
2.如果计算属性要被修改，那必须写set函数去响应修改，且set中要引起计算时依赖的数据发生:
 -->
  <body>
    <!-- 被 vm 实例所控制的区域 -->
    <div id="app">
        姓： <input type="text" v-model="firstname"><br><br>
        名： <input type="text" v-model="lastname"><br><br>
        全名：<span>{{fullname}}</span><br><br>
        全名：<span>{{fullname}}</span><br><br>
        全名：<span>{{fullname}}</span><br><br>
        全名：<span>{{fullname}}</span>
    </div>

    <script>
        Vue.config.productionTip=false;
      //创建 vm 实例对象
      const vm = new Vue({
        //指定控制的区域
        el:'#app',
        data:{
            firstname:'拐',
            lastname:'子'
        },
        // 计算
        computed: {
            //这个同样也在vm上，即为 vm.fullname  但是_data.fullname 不存在，这个是通过计算得到的
            // _data里的是配置的属性，而这里的是计算属性
            fullname:{

// 这里要区分，computed自动找到get，计算后返回的值，放到vm上，这个值的名字就叫做fullname⭐⭐⭐⭐


// get()作用 当有人读取fullname的时候(所依赖的数据firstname和lastname)发生变化时),get就会被调用,且返回值作为fullname的值

                //⭐当调用这里的get时，vue会自动将this给到vm
                // 同样的get()和set()不能写成 箭头函数
                get(){
                    console.log('get被调用了');
                    //  发现get只会输出一次，虽然写了四个，但是读取到第一个的时候就会生成缓存，
                    // 第二次第三次第四次 就不会通过get，直接通过缓存获取数据
                    //因为依赖的值(就是计算依赖哪些数据，这里就是姓和名)发生变化，所以就会重新调用
                    //因此不用担心缓存的值不变会影响数据结果 

                    return this.firstname+' '+this.lastname;
                },
                //不必需  当fullname被修改的时候
                set(value){
                    console.log('set被调用了');
                    const arr=value.split(' ');//用这个 ' '分割
                    this.firstname=arr[0];
                    this.lastname=arr[1];
                }
            }
        }
       });
    </script>
  </body>
</html>